.popOut {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    color: whitesmoke;
    background-color: rgba(7, 7, 7, 0.726);
    background: radial-gradient(
      rgba(192, 192, 192, 0.045),
      rgba(7, 7, 7, 0.726)20%,
      rgba(25, 4, 117, 0.587)60%,
      rgba(7, 7, 7, 0.726)
    );
    border-radius: 15px;
    border: solid 1px rgb(74, 72, 72);
  }
  

.popOutCanvas {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    z-index: 1;
    opacity: 0.5;
}

.gridText {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 2;
}


.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px;
}

.carousel {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    z-index: 2;
}

.carouselInner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* gap: 1em; */
    grid-template-areas:
      "a a a a b b b b"
      "a a a a b b b b"
      "a a a a b b b b"
      "a a a a b b b b"
  }

.carouselImg{
    grid-area: a;
    margin-left: 1em; 
}

.carouselText{
    grid-area: b;
    align-self: center;
}


