.aboutCanvas {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    z-index: 1;
    opacity: 0.5;
}


.carousel {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    z-index: 2;
}

.test {
    color: rgb(19, 18, 85)
}